*{
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.mode{
    background-color: white;
    color: black;
    font-weight: 1000;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    transition: background-color .5s ease-in-out;
}
@media (max-width:768px) {
    .mode{
        width: 80px;
        font-weight: 800;
        font-size: 10px;
    }
}
.m1{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 430px;
    height: 430px;
    background-color: aquamarine;

}
.box{
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  font-weight: 1000;
  font-size: 20px;
  transition: background-color .5s ease-in-out;
}
@media (max-width:768px) {
    .container{
        height: 275px;
        width: 275px;
        border: 2px solid black;
    }
    .box{
        width: 70px;
        height: 70px;
        border: 1px solid black;
        font-size: 15px;
    }


}
.result{
    font-weight: 1000;
    font-size: 50px;
}
@media (max-width:768px) {
    .result{
        font-size: 30px;
        
    }
}
